apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: gcr.io/headsdown/smallgat
  newTag: ef1c4c0d
- name: gcr.io/headsdown/smallgat-migrate
  newTag: ef1c4c0d
secretGenerator:
- name: keys
  env: keys.env
- name: tf-secrets
  env: tf-secrets.env
resources:
- api-deploy.yml
- migrate.yml
- redis.yml
- ingress.yml
