<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>🏢⛺ {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="🏢⛺ Small gatherings">
  <meta name="twitter:description" content="Hyperlocal meetups for recovering cities">

  <meta name="og:type" content="website">
  <meta name="og:title" content="🏢⛺ Small gatherings">
  <meta name="og:description" content="Hyperlocal meetups for recovering cities">

  {% if track_page %}
  <!-- Matomo -->
  <script type="text/javascript">
    var uuidRegex = /[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}/i;
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://cloudprogress.matomo.cloud/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '2']);
      {% if tracking_hide_uuid %}
      // todo: this isn't overriding the URL
      _paq.push(['setCustomUrl', document.location.href.replace(uuidRegex, 'UUID')]);
      {% endif %}
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src='//cdn.matomo.cloud/cloudprogress.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
  {% endif %}
</head>
<body>
<div class="container">
<br>
<div class="text-muted">
  {% if not no_logout %}
  <div style="float: right">
    <form action="{{url_for('auth.post_logout')}}" method="post">
      <button class="btn btn-outline-secondary btn-sm">Logout</button>
    </form>
  </div>
  {% endif %}
  🏢⛺ <a href="{{url_for('user.home')}}">Small gatherings</a>
</div>
<hr>
{% block container %}{% endblock %}
<hr>
<p>
  ©️ 2020 Cloud Progress, LLC.
  Authorship details and more are <a href="https://github.com/abe-winter/smallgat">on our github</a>.
  <a href="/terms">Terms of service</a>.
</p>
<p>Reach out to support@smallgatherings.app if something isn't working for you</p>
</div>
</body>
</html>
