{% extends "base.htm" %}
{% block title %}institution{% endblock %}
{% block container %}
<h3>🏢 Institution page</h3>
<table class="table">
  <tr>
    <th>Name</th>
    <td>{{name}}</td>
  </tr>
  <tr>
    <th>External URL</th>
    <td><a href="{{url}}">{{url}}</a></td>
  </tr>
  <tr>
    <th>Email domain restriction</th>
    <td>{{email_domain or '(unset)'}}</td>
  </tr>
  <tr>
    <th>Group size for meetups</th>
    <td>{{group_size}}</td>
  </tr>
</table>
<hr>
<div>
<p>Managed by:</p>
<ul>{% for name, email, role in managers %}
  <li>
    <a href="mailto:{{email}}">{{name}} ({{email}})</a>
    ({{role or 'no role given'}})
  </li>
{% endfor %}</ul>
</div>
<hr>
{% if inst_row %}
  <div class="alert alert-info">You're an <u>admin</u> for this institution, with role: {{inst_row[0]}}</div>
{% endif %}
{% if member_row %}
  <div class="alert alert-success">You're a <u>member</u> of this institution, with role: {{member_row[0]}}</div>
  <form action="{{url_for('institution.leave', instid=instid)}}" method="post">
    <button role="submit" class="btn btn-danger">Leave institution</button>
  </form>
  <br>
  <h4>⛺ Group details</h4>
  {% if group_row %}
  <p><a href="{{url_for('group.view', groupid=group_row[0])}}">You're in a group!</a></p>
  {% else %}
  <div class="alert alert-warning">
    <p>You don't have a group yet in this institution</p>
    <h3>Find a group</h3>
    <p>This proposes a group of the closest people to you, or finds an existing group with extra space.</p>
    <form action="{{url_for('group.find_group', instid=instid)}}" method="post">
      <label>Max miles
        <p class="text-muted">This controls how far you can travel. We recommend setting it to under a mile in cities and 4 miles if you have a car.</p>
        <input type="number" name="max_miles" class="form-control" placeholder="Max miles" value="0.25">
      </label>
      <br>
      <button role="submit" class="btn btn-success">Link up</button>
    </form>
  </div>
  {% endif %}
{% else %}
  <p>Become a member. For safety, make sure you got this link from someone who works at the institution and that you know and trust the emails of the managers above.</p>
  <p><b>Note</b>: your email address will be visible to others who join the group.</p>
  <form action="{{url_for('institution.join', instid=instid)}}" method="post">
    <label>Your role at the institution
      <input type="text" name="role" class="form-control" placeholder="Role" required>
    </label>
    <br>
    <button role="submit" class="btn btn-success">Join</button>
  </form>
{% endif %}
{% endblock container %}
