{% extends "base.htm" %}
{% block title %}login{% endblock %}
{% block container %}
<h3>Sign in or create an account</h3>
<p>Small gatherings uses a 'magic link' to do login -- enter your email below and we'll send you a login link. If you don't have an account, we'll create one when you log in.</p>
<form method="post">
  <label>Email <input type="email" class="form-control" placeholder="email" name="email" autofocus required></label>
  <p>By clicking below, you accept our <a href="/terms">terms of service</a>.</p>
  <button class="btn btn-primary">Sign in</button>
</form>
{% endblock container %}
