<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>🏢⛺ {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet"> -->
</head>
<body>
<div class="container">
<div class="text-muted">🏢⛺ Small gatherings</div>
<hr>
{% block container %}{% endblock %}
<hr>
<p>
  ©️ 2020 Abe Winter.
  Operated by Cloud Progress, LLC.
  Authorship details and more are <a href="https://github.com/abe-winter/smallgat">on our github</a>.
  <a href="/terms">Terms of service</a>.
</p>
</div>
</body>
</html>
