{% extends "base.htm" %}
{% block title %}home{% endblock %}
{% block container %}
<h3>Group</h3>
<p>This is part of institution <a href="{{url_for('institution.inst', instid=instid)}}">{{inst_name}}</a></p>
<h4>Members</h4>
<ul>{% for userid, name, email in members %}
  <li>
    {{name}}
    <a href="mailto:{{email}}">{{email}}</a>
    {% if userid == own_userid %}
    <details style="display: inline">
      <summary>Actions</summary>
      <form style="position: absolute" action="{{url_for('group.leave', groupid=groupid)}}" method="post">
        <button class="btn btn-outline-danger btn-sm" role="submit">Leave</button>
      </form>
    </details>
    {% endif %}
  </li>
{% endfor %}</ul>
{% endblock container %}
