{% extends "base.htm" %}
{% block title %}Small gatherings{% endblock %}
{% block container %}
<div class="jumbotron">
  <h1>🏢⛺ Small gatherings</h1>
  <h2>Hyperlocal meetups for quarantined institutions</h2>
  <p>Large gatherings banned in your city? Sent home from school? Can't go to work?</p>
  <p>No sweat. Small gatherings finds small groups of people from your class or team who live nearby, then connects you up.</p>
  <p><a class="btn btn-primary" style="font-size: large" href="{{url_for('user.home')}}">Join / sign in</a></p>
</div>
<div class="card"><div class="card-body">
  <h3>⚠️ Warning</h3>
  <p>Pay attention to quarantine rules in your area and stick to them.</p>
  <p>This product makes no claims about your risk of getting or spreading a disease, and hasn't been reviewed by a medical professional.</p>
  <p>If you're a public official and you want to block this service in your municipality, or shrink the meeting size, we'll work with you. Please open a github issue.</p>
</div></div>
<br>
<div class="card"><div class="card-body">
  <h3>How do I get started?</h3>
  <p>Ask your school or office to create an institution page, and then visit the link.</p>
  <p>While you're at it, create a personal account. It's free and all you need is an email address.</p>
  <p>When you get the institution link, first make sure that it's from a trusted source, then attach yourself to the institution and wait to get placed.</p>
</div></div>
<br>
<div class="card"><div class="card-body">
  <h3>Who pays for this?</h3>
  <p>For now, Small gatherings is self-funded.</p>
  <p>If this grows and gets expensive, we'll add a $1 fee to create an institution, which will be used to cover hosting expenses and to create a paper trail for institutions. The excess will be donated to virus research or treatment.</p>
  <p>If we add a fee, we'll publish all income, costs and donations on this site.<p>
</div></div>
<br>
{% endblock container %}
