{% extends "base.htm" %}
{% block title %}Small gatherings{% endblock %}
{% block container %}
<div class="jumbotron">
  <h1>🏢⛺ Small gatherings</h1>
  <h2>Hyperlocal meetups for quarantined institutions</h2>
  <p>Sent home from school? Can't go to work?</p>
  <p>Small gatherings automatically splits you up. We find small groups of people from your class or team who live nearby and place them together.</p>
  <p><a class="btn btn-primary" style="font-size: large" href="#">Create a personal account</a></p>
  <p><a class="btn btn-primary" style="font-size: large" href="#">Start a page for an institution</a></p>
  <p>⚠️ <b>Warning</b>: This site makes no claim to alter your risk of giving or getting any disease. This app and its model of operation have not been reviewed by a doctor or an epidemiologist.</p>
</div>
<div class="card"><div class="card-body">
  <h3>How do I get started?</h3>
  <p>Ask your school or office to create an institution page.</p>
  <p>While you're at it, create a personal account.</p>
  <p>When you get the institution link, first make sure that it's from a trusted source, then attach yourself to the institution and wait to get placed.</p>
</div></div>
<br>
<div class="card"><div class="card-body">
  <h3>Who pays for this?</h3>
  <p>For now, the author is self-funding.</p>
  <p>We're going to introduce a small fee to create an institution (1 dollar), which will be used to cover hosting expenses and to create a paper trail for institutions. The excess will be donated to virus research or treatment.</p>
  <p>We'll keep a public accounting of the money taken in and
</div></div>
<br>
<p>©️ 2020 Cloud Progress, LLC. Authorship details and more are <a href="https://github.com/abe-winter/smallgat">on our github</a>.</p>
{% endblock container %}
