{% extends "base.htm" %}
{% block title %}terms{% endblock %}
{% block container %}
<h3>Terms and privacy policy</h3>
<p>This is version 1 of this document, released on March 14th, 2020 (pi day).</p>
<p>This is a service offered for free on a non-profit basis.</p>
<p><b>Privacy</b>: your email and other information will be shared with other users in your institution, including with the people in your meetup.</p>
<p><b>Accurate representation</b>: if you make false statements to deceive other users on the app or lure them to meet, we may involve the police.</p>
<p><b>Health privacy</b>: this site doesn't record or share any of your medical information and, to the best of our knowledge, has no HIPAA implications.</p>
<p><b>Data sharing</b>: we don't sell your individual data, or share it outside the authors, other than as disclosed in these terms or required by US law. We may publish certain aggregate statistics about number of groups or frequency of meetings by age or location, but will not use names of individuals or institutions.</p>
<p><b>Vendors</b>: Google Cloud Services, Postmark for email, bootstrapcdn for static hosting.</p>
<p>
  <b>Safety:</b>
  <ul>
    <li>Make sure you're sure that the institution link you click is coming from your institution</li>
    <li>Institutions are encouraged to use the email domain verification for added safety</li>
    <li>The app requires every person who signs up for a meetup to be vouched by at least one other person. Only use this app to meet people you already know in real life.</li>
    <li>If someone shows up to your meeting who nobody knows, make them leave or call the police ASAP.</li>
  </ul>
</p>
<p><b>Children</b>: if you're under 13, you must have a parent use this site on your behalf. We don't offer a mechanism for a parent to grant you permission. You must be over 13 to use this site. If we discover that you've lied about your age in order to join a gathering of people who don't know your real age, we may involve the police.</p>
<p><b>Account deletion</b>: there's a delete button in your settings. It doesn't delete all your group activity.</p>
<p><b>Europe and California</b>: this app is not currently available in Europe and California. Once out of beta, we will use location detection to enforce this ban or update our policies to comply with the laws there.</p>
<p><b>Cooperation with municipalities</b>: this is a social app at a dangerous time. As such, we'll comply with government officials during medical emergencies as long as they agree not to share your information outside their agency, and not to share it with law enforcement.</p>
<p><b>Governing law</b>: the state of New York. This site is operated by Cloud Progress, LLC, not the authors.</p>
<p><b>Health risk</b>: read the news, please. This site doesn't offer medical education, nor have any of its claims been evaluated by a doctor or any other professional.</p>
<p><b>Scraping</b>: you agree not to collect lists of other users on this site for any purpose other than meeting them or facilitating meetups within this app.
  You agree not to republish the information you obtain from this site, and accept all liability from any damage that is caused by publishing said information.
  If you publish such information, you agree to pay to the users whose information you publish a fine of not less than $10 per user.
</p>
{% endblock container %}
